.body {
    --menu-background: rgb(0 0 0 / 5%);
    --hover-background: rgb(255 255 255 / 15%);
  
    --menu-backdrop-filter: blur(4px);
    --hover-backdrop-filter: blur(8px);
  
    --menu-transition: all 150ms ease-out;
  
    justify-content: center;
  }
